

$text-color: cyan;



@mixin flexbox {
  display: flex;
}

div p { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  @include flexbox;
  text-indent: 20px;
  line-height: 10px;
  padding: 10px 20px 30px 40px;
  padding: 10px 20px 30px;
  padding: 10px 20px;
  display: none;
  display: block;
}


.container {
  @include flexbox;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 12px 30px;
  margin: 20rem;
  font-size: 50%;
}
